<!DOCTYPE html>
<html>
<title>Reportes Cupones</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<center><img src="http://localhost:4200/assets/logo" style="height: 200px; width: 250px"></center>
<form class="w3-container w3-card-4 w3-light-grey" action="/reporte" method="POST">
  <h2>Descargar Reportes</h2>

  <p><label>Fecha</label>
  <input class="w3-input w3-border" name="date" type="date"></p>
  <button class="w3-btn w3-blue">Descargar</button></p>
</form>

</body>
</html> 



